.hero {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: -310px;
}
.hero-left {
  padding-top: 70px;
  /* padding-left: 190px; */
  padding-right: 127px;
}
.hero-left-heading {
  line-height: 60px;
  width: 334px;
  height: 144px;
  color: #fff;
  font-size: 60px;
  text-align: left;
  font-weight: 600;
}
.hero-left-heading span {
  color: #43afff;
}

.hero-btn {
  width: 148px;
  height: 46px;
  color: #fff;
  background: #43afff 0% 0% no-repeat padding-box;
  border: 1px solid #43afff;
  border-radius: 5px;
  cursor: pointer;
}
.hero-right {
  width: 622px;
  height: 395px;
  background: transparent url("./Images/img1.jpeg") 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 36px #557da526;
  border-radius: 20px;
}
