@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Pontano+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #edf6ff;
  font-family: "Pontano Sans", sans-serif;
}
